*{
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
}
/* header and navigation styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat ;
    background-position:bottom right, left;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 220px;
}
.nav-tittle{
    font-weight: 800;
font-size: 45px;
}
.text-color{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-1{
    width: 150px;
height: 64px;
background: #FD6E0A;
border-radius: 5px;
border: 0;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
}
.banner{
    margin: 100px 200px;
  align-items: center;
  display: flex;
  
    
}


.banner-2{
    font-weight: 700;
font-size: 85px;
}
.banner-1{
    font-weight: 600;
font-size: 45px;
}
img{
    width: 484px;
height:576px;
left: 1100px;
top: 100px;
right: 30px;
}
.text{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-2{
    width: 150px;
height: 64px;
background: #FD6E0A;
border: none;
border-radius: 5px;
font-weight: 500;
font-size: 20px;
color: #FFFFFF;
}
/* about section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section{

margin-bottom: 30px;
font-weight: 700;
font-size: 35px;
}
.sec-text{
    color: grey;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
  display: flex;
}
.info-des{
    font-weight: 700;
font-size: 20px;
}
.info-tittle{
    font-weight: 400;
font-size: 20px;
color: #757575;
}



/* WHAT I DO STYLES */
.section{
    text-align: center;
    margin-top: 136 px;
    margin-bottom: 30px;
}
.txt{
    font-weight: 400;
font-size: 18px;
color: #757575;
text-align: center;
margin-left: 260px;
margin-right: 260px;
margin-bottom: 50px;
}

#mm{
    width: 40px;
height:40px;
left: 1100px;
top: 100px;
right: 30px;
margin-bottom: 10px;
}
#mn{
    width: 40px;
height:40px;
left: 1100px;
top: 100px;
right: 30px;
margin-bottom: 10px;
}
#mo{
    width: 40px;
height:40px;
left: 1100px;
top: 100px;
right: 30px;
margin-bottom: 10px;
}

#mp{
    width: 40px;
height:40px;
left: 1100px;
top: 100px;
right: 30px;
margin-bottom: 10px;
}
.whatido{
    display: flex;
    flex-direction: row;
}